* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: #333;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 1rem;
    line-height: 1.6;
}


.navigation {
    display: flex;
    align-items: center;
    width: 100%;
}
.title {
    margin: 30px 0 0 30px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.active {
    border-bottom: 1px solid #333;
}
.nav-links a:hover {
    color: #333;
    border-bottom: 1px solid #333;
}
.nav-links input {
    border: none;
    background: none;
    font-size: 1rem;
}


.container1 {
    max-width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item1, .item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.item1 {
    grid-column: 1 / 3;
}
.item2 {
    grid-column: 4 / 6;
}
.item1 img, .item2 img {
    width: 100%;
}

.text1, .text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
}


.container2 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-top: 30px;
}

.item3, .item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.item3 {
    grid-column: 1 / 3;
}
.item4 {
    grid-column: 4 / 6;
}
.item3 img, .item4 img {
    width: 100%;
}

.text3, .text4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
}


.container3 {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-top: 30px;
}

.item5, .item6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.item5 {
    grid-column: 2 / 4;
}
.item6 {
    grid-column: 4 / 6;
}
.item5 img, .item6 img {
    width: 100%;
}

.text5, .text6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin-top: 30px;
}


footer {       
    position: fixed; /* nothing can move it - fixed on screen, but positions (bottom, left...) are mandatory */
    bottom: 30px; 
    left: 30px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;  
    justify-content: flex-start; 
}


@media (max-width: 768px) {
    .container1, .container2, .container3 {
        grid-template-columns: 1fr;
    }
    .item1, .item2, .item3, .item4, .item5, .item6 {
        grid-column: auto;
    }
    .navigation {
        flex-direction: column;
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }
    .nav-links {
        margin: 0;
    }
    .nav-links input {
        max-width: 100px;
    }
    .title {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .navigation {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }
    .active {
        border-bottom: none;
        border-right: 1px solid #333;
    }
}