* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: #333;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 1rem;
    line-height: 1.6;
}


.navigation {
    display: flex;
    align-items: center;
    width: 100%;
}
.title {
    margin: 30px 0 0 30px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.active {
    border-bottom: 1px solid #333;
}
.nav-links a:hover {
    color: #333;
    border-bottom: 1px solid #333;
}
.nav-links input {
    border: none;
    background: none;
    font-size: 1rem;
}


.container1 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}
.container1 img {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
}
.text1 {
    margin-top: 30px;
    grid-column: 5 / -1;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
}


.container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}
.text2 {
    margin-top: 30px;
    margin-left: 30px;
    grid-column: 1 / 5;
    grid-row: 4 / 7;
    display: flex;
    gap: 300px;
}
.text2 h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.text2 p {
    font-size: 1rem;
}
.container2 img {
    grid-column: 5 / -1;
    grid-row: 4 / 7; 
    width: 100%;
    height: 100%;
}


.container3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}
.container3 img {
    grid-column: 1 / 4;
    grid-row: 7 / 10;
    width: 100%;
    height: 100%;
}
.text3 {
    margin-top: 30px;
    margin-left: 200px;
    grid-column: 4 / -1;
    grid-row: 7 / 10;
    display: flex;
    flex-direction: column;
}


.container4 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}
.container4 img {
    grid-column: 4 / -1;
    grid-row: 10 / 12;
    width: 100%;
    height: 100%;
}


footer {
    position: fixed; 
    bottom: 30px; 
    left: 30px;
    font-weight: bold;
    z-index: 10;
}


@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }
    .nav-links {
        margin: 0;
    }
    .nav-links input {
        max-width: 100px;
    }
    .title {
        margin-bottom: 20px;
    }
    .container1, .container2, .container3, .container4 {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .navigation {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
    }
    .active {
        border-bottom: none;
        border-right: 1px solid #333;
    }
    .container1, .container2, .container3, .container4 {
        display: flex;
        flex-direction: column;
    }
    .text2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .text3 {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}