* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    color: #333;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 1rem;
    line-height: 1.6;
}


.navigation {
    display: flex;
    align-items: center;
    width: 100%;
}
.title {
    margin: 30px 0 0 30px;
    font-weight: bold;
}
.nav-links {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.active {
    border-bottom: 1px solid #333;
}
.nav-links a:hover {
    color: #333;
    border-bottom: 1px solid #333;
}
.nav-links input {
    border: none;
    background: none;
    font-size: 1rem;
}

/* Setting up the Text to appear on hover */
.text {
    position: absolute; /* Absolute positioning to place the text over the image, and then later on we just reduce brightness on hover to show it (+ opacity 1 for text on hover) */
    color: white;
    font-size: 1.5rem;
    opacity: 0;   
    transition: 1s ease;          
}


.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; /* automatic row for each div /w image */
    align-items: center;
}


.first {
    grid-column: 2 / 3; 
    grid-row: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first img {
    width: 100%;   
    object-fit: cover;
    transition: 1s ease; 
}
.first:hover img {
    filter: brightness(50%); /* reduce brightness on hover */
}
.first:hover .text {
    opacity: 1; /* Show text on hover */
}


.second {
    grid-column: 3 / -1; /* -1 = last column */
    grid-row: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second img {
    width: 100%;   
    object-fit: cover;
    transition: 1s ease; 
}
.second:hover img {
    filter: brightness(50%);
}
.second:hover .text {
    opacity: 1; 
}


.third {
    grid-column: 1 / 3;
    grid-row: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.third img {
    width: 100%;   
    height: 300px; /* fixed height only for bigger images, as they are selected random (i did) */
    object-fit: cover;
    transition: 1s ease; 
}
.third:hover img {
    filter: brightness(50%);
}
.third:hover .text {
    opacity: 1; 
}


.fourth {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth img {
    width: 100%;   
    object-fit: cover;
    transition: 1s ease; 
}
.fourth:hover img {
    filter: brightness(50%);
}
.fourth:hover .text {
    opacity: 1; 
}


.fifth {
    grid-column: 1 / 2;
    grid-row: 6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifth img {
    width: 100%;  
    height: 300px; 
    object-fit: cover;
    transition: 1s ease; 
}
.fifth:hover img {
    filter: brightness(50%);
}
.fifth:hover .text {
    opacity: 1; 
}


.sixth {
    grid-column: 2 / -1;
    grid-row: 8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixth img {
    width: 100%;   
    height: 300px;
    object-fit: cover;
    transition: 1s ease; 
}
.sixth:hover img {
    filter: brightness(50%);
}
.sixth:hover .text {
    opacity: 1; 
}


footer {        
    position: fixed; /* nothing can move it - fixed on screen, but positions (bottom, left...) are mandatory */
    bottom: 30px; 
    left: 30px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;  
    justify-content: flex-start; 
}


@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }
    .nav-links {
        margin: 0;
    }
    .nav-links input {
        max-width: 100px;
    }
    .title {
        margin-bottom: 20px;
    }
    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }
    .first, .second, .third, .fourth, .fifth, .sixth {
        grid-column: 1 / -1; 
        grid-row: auto; 
    }
}

@media (max-width: 480px) {
    .navigation, .nav-links{
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
    }
    .active {
        border-bottom: none;
        border-right: 1px solid #333;
    }
    .container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }
    .first, .second, .third, .fourth, .fifth, .sixth {
        grid-column: 1 / -1; 
        grid-row: auto; 
    }
}